@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
html {
  overflow: hidden;
  height: 100%;
  /* margin-bottom: 50px; */
  /* background-color: rgb(1, 1, 30); */
}

input.PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
